@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.upload {
    @include outside-padding;
    border-top: $divider-and-outline;

    &__page-title {
        font-weight: bold;
        font-size: $fs-page-header-mobile;
        padding-top: 0.5rem;

        @include tablet {
            font-size: $fs-page-header-tablet;
            padding-top: 1rem;
            padding-bottom: 1.75rem;
            width: 100%;
            border-bottom: $divider-and-outline;
        }

        @include desktop {
            font-size: $fs-page-header-desktop;
        }
    }

    &__form {
        margin-top: 1.75rem;
    }

    // &__thumbnail-container {
    //     width: 100%;
    // }

    &__thumbnail-label {
        text-transform: uppercase;
        font-size: $fs-section-header-mobile;
        color: $seconday-text-color;
        font-weight: bold;
        margin-bottom: 0.25rem;

        @include tablet {
            margin-bottom: 0.5rem;
        }
    }

    &__thumbnail-img {
        width: 100%;
        object-fit: cover;
        border-radius: 0.25rem;
        transition: 1s;

        @include tablet {
            transition: 1s;
            width: 21.625rem;
            height: 11.875rem;
        }
    }

    &__inputs-container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }

    &__input-label {
        text-transform: uppercase;
        font-size: $fs-section-header-mobile;
        color: $seconday-text-color;
        font-weight: bold;
        margin-bottom: 0.25rem;
    }

    &__input {
        @include input;
        font-size: $fs-body-mobile;
        padding: 0.75rem;
        height: 2.25rem;
        background-color: $alternative-bg-color;
        border-radius: 0.25rem;
        border: $divider-and-outline;
        color: $primary-text-color;
        min-width: 15rem;
        width: 100%;

        &--title {
            margin-bottom: 1rem;
        }

        &--desc {
            height: 5.375rem;
            resize: none;
        }

        &--error {
            border: 0.0625rem solid $error-color;
        }

        &--error-msg {
            color: $error-color;
            font-size: $fs-body-mobile;
            font-weight: bold;
            margin-top: 1.5rem;

            @include tablet {
                font-size: $fs-body-tablet;
                order: 1;
            }
        }
    }

    &__cancel {
        display: flex;
        justify-content: center;
        color: $outline-color-active;
        font-weight: bold;
        text-transform: uppercase;
        font-size: $fs-labels-and-buttons;
        width: 100%;
        cursor: pointer;
        margin-top: 2.5rem;
        text-decoration: none;
    }
}
