@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.upload {
    @include outside-padding;
    border-top: $divider-and-outline;

    &__page-title {
        font-weight: bold;
        font-size: $fs-page-header-mobile;
        padding-top: 0.5rem;

        @include tablet {
            font-size: $fs-page-header-tablet;
        }

        @include desktop {
            font-size: $fs-page-header-desktop;
        }
    }

    &__form {
        margin-top: 1.5rem;
    }

    &__thumbnail-label {
        text-transform: uppercase;
        font-size: $fs-section-header-mobile;
        color: $seconday-text-color;
        font-weight: bold;
        margin-bottom: 0.25rem;
    }

    &__thumbnail-img {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        border-radius: 0.25rem;
    }

    &__inputs-container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }

    &__input-label {
        text-transform: uppercase;
        font-size: $fs-section-header-mobile;
        color: $seconday-text-color;
        font-weight: bold;
        margin-bottom: 0.25rem;
    }

    &__title-input {
        @include input;
        font-size: 0.8125rem;
        padding: 0.75rem;
        height: 2.25rem;
        background-color: $alternative-bg-color;
        border-radius: 0.25rem;
        border: $divider-and-outline;
        color: $primary-text-color;
        min-width: 15rem;
        width: 100%;
        margin-bottom: 1rem;
    }

    &__desc-input {
        @include input;
        font-size: 0.8125rem;
        padding: 0.75rem;
        height: 5.375rem;
        resize: none;
        background-color: $alternative-bg-color;
        border-radius: 0.25rem;
        border: $divider-and-outline;
        color: $primary-text-color;
        min-width: 15rem;
        width: 100%;
    }
}
