@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

/* Styling for the videos in the next videos list */
.next-video {
    &__item {
        width: 100%;
        display: flex;
        cursor: pointer;

        &:hover {
            background-color: $alternative-bg-color;
            border-radius: 0.25rem;
        }

        @include tablet {
            width: 44%;
        }

        @include desktop {
            width: 100%;
        }
    }

    &__image-container {
        background-color: $outline-color;
        border-radius: 0.25rem;

        @include desktop {
            height: fit-content;
        }
    }

    &__thumbnail {
        display: block;
        width: 6.5rem;
        height: 3.8rem;
        object-fit: cover;
        object-position: center;
        border-radius: 0.25rem;

        @include tablet {
            width: 7rem;
            height: 4.092rem;
        }
    }

    &__details {
        margin-left: 1rem;
        font-size: $fs-body-mobile;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include tablet {
            font-size: $fs-body-tablet;
        }
    }

    &__title {
        font-weight: bold;
    }
}
