@use "./variables" as *;

/* Tablet Breakpoint */
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

/* Desktop Breakpoint */
@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

/* Outside Padding */
@mixin outside-padding {
    padding: 1rem 5%;
    transition: 1s;

    @include desktop {
        transition: 1s;
        padding: 1rem 10.156%;
    }
}

/* Avatar Styling */
@mixin avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-color: $outline-color;

    @include tablet {
        width: 2.5rem;
        height: 2.5rem;
    }
}

/* Input Styling */
@mixin input {
    font-size: $fs-labels-and-buttons;
    font-family: $primary-font;

    &::placeholder {
        color: $primary-text-color;
    }
}
