@use "./font" as *;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-font: "AvenirNext LT Pro", Sans-Serif;

$primary-text-color: #323232;
$seconday-text-color: #afafaf;
$alternative-text-color: #ffffff;

$primary-bg-color: #ffffff;
$seconday-bg-color: #0095ff;
$alternative-bg-color: #fafafa;

$outline-color: #e1e1e1;
$outline-color-active: #0095ff;

/* Mobile Specific Styling */
//Note: fs = "Font Size"
$fs-labels-and-buttons: 0.75rem;
$fs-page-header-mobile: 1.5rem;
$fs-sub-header-mobile: 0.8125rem;
$fs-section-header-mobile: 0.75rem;
$fs-body-mobile: 0.8125rem;
