@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-error {
    margin: 3rem 0;
    width: 100%;
    text-align: center;
    color: $error-color;
    font-weight: bold;
}
.content {
    display: flex;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
    }

    &__current-video {
        @include outside-padding;

        @include desktop {
            padding-right: 0;
            width: 95%;
        }
    }
}
