@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

/* Styling for Main Navigation */
.nav-header {
    position: sticky;
    top: -1px;
    z-index: 1;
}

.nav {
    @include outside-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: $primary-bg-color;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    &__logo {
        display: block;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        @include tablet {
            justify-content: flex-end;
            gap: 1.5rem;
        }
    }

    &__search {
        height: 2.25rem;
        border: $divider-and-outline;
        border-radius: 0.25rem;
        flex: 1;
        padding: 0.5rem;
        display: flex;
        gap: 0.5rem;
        background-color: $alternative-bg-color;

        &:focus-within {
            border-color: $alternative-bg-color;
            outline: 0.125rem solid $outline-color-active;
        }

        @include tablet {
            width: 15rem;
            height: 2.5rem;
            flex: none;
        }
    }

    &__search-icon {
        align-self: flex-start;
    }

    &__search-input {
        @include input;
        height: 100%;
        flex: 1;
        border: none;
        background-color: $alternative-bg-color;

        &:focus {
            outline: none;
        }
    }

    &__avatar {
        @include avatar;
        background-image: url("../../assets/images/Mohan-muruge.jpg");
        background-position: top 50% right 75%;
        background-size: cover;

        @include desktop {
            margin-left: 0.5rem;
        }
    }
}
