@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav {
    @include outside-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &__search {
        height: 2.25rem;
        border: 0.0625rem solid $outline-color;
        border-radius: 0.25rem;
        flex: 1;
        padding: 0.5rem;
        display: flex;
        gap: 0.5rem;
    }

    // &__search-icon {
    //
    // }

    &__search-input {
        height: 100%;
        flex: 1;
        border: none;
    }

    &__avatar {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        background-image: url("../../assets/images/Mohan-muruge.jpg");
        background-position: top 50% right 75%;
        background-size: cover;
    }
}
