@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.75rem 0;
    border-bottom: 0.0625rem solid $outline-color;

    &__avatar {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        background-color: $outline-color;
        // background-position: top 50% right 75%;
        // background-size: cover;
    }

    &__content-container {
        font-size: $fs-body-mobile;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
    }

    &__name {
        width: 50%;
        font-weight: bold;
    }

    &__timestamp {
        width: 50%;
        text-align: right;
        color: $seconday-text-color;
    }

    &__text {
        margin-top: 0.75rem;
    }
}
