@use "./styles/partials/variables" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $primary-font;
    color: $primary-text-color;
}

.button {
    background-color: #0095ff;
    height: 2.5rem;
    border-radius: 0.25rem;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $fs-labels-and-buttons;
    font-weight: bold;

    &__upload {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        width: 100%;

        &--tablet {
            display: none;
        }
    }

    &__upload-icon {
        width: 1.25rem;

        &--hidden {
            visibility: hidden;
            height: 1.25rem;
        }
    }
}
