@use "./styles/partials/variables" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $primary-font;
}

.button {
    background-color: #0095ff;
    height: 2.5rem;
    border-radius: 0.25rem;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    &__upload {
        text-decoration: none;

        &--mobile {
            width: 100%;
        }

        &--tablet {
            display: none;
        }
    }
}
